<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CreativeStudioSearch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    
  </head>
  <body>
      <!------------main body----------->
     