<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CreativeStudioSearch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    
  </head>
  <body>
<section class='section-1'>
    <nav class="container-1">
        <div class="box">
            <a class="cells" href="">Home</a>
            <a class="cells" href="">Guides</a>
            <a class="cells" href="">Gallery</a>
        </div>
        <div class="box box-two">
            <a class="cells" href="">Login</a>
            <a class="cells" href="">Register</a>
        </div>
    </nav>
    <div class="homepage">
        <p class="home home-heading">Creativity Studio</p>
        <div class="home home-title">
            <img class="titlebox home-image " src="/assets/iconfinder_-_Magnifier-Search-Zoom-_3844467.png">
            <p class="titlebox">Search Simplifier</p>
        </div>
        <p class="home home-subHeading">search with ease</p>
        <a href="/home"><button class="home home-btn btn btn-secondary">navigate</button></a>
    </div>
</section>
</body>
</html>